body {
    font-family: font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    font-weight: bold;

    color: white;

    text-align: center;
    font-size: 30px;
}

.quote {

    color: aqua;
}

.btn {
    text-decoration: none;
    color: white;
    border: 5px;
    border-radius: 5px;
    background-image: linear-gradient(red, purple);
    padding: 3px 5px 3px 5px;
}

.flex {
    display: flex;
}

.amnt {
    color: rgb(92, 89, 89);
    background-color: whitesmoke;
    margin-left: 30px;
    width: 500px;
    padding-left: 10px;
    border-radius: 5px;
}

.input {
    border: hidden;
}

hr {
    align-items: center;
    color: gray;
    border: 0.5px solid gray;
}

.donation-plan {
    display: flex;
}

.support {
    margin-right: 50px;
    padding: 20px 7px 0px 7px;
    border-radius: 5px;
    text-align: justify;
}

#support1 {
    margin-left: 50px;
}

footer {
    background-color: black;
    color: white;
}